.footer {
  padding: 50px 0 40px 0;
  display: flex;
}

.footer .description-inverse {
  color: white;
  margin-bottom: 7px;
}

.footer p {
  margin: 0;
  padding: 0;
}

.footer-bottom {
  display: flex;
  flex-basis: 316px;
}

.dn {
  display: none;
}

.footer-top_container {
  flex-grow: 1;
}

.socials {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 9px;
    a {
      display: block;
      transition: opacity .2s;
      &:hover {
        opacity: .7;
      }
    }
  }
}

.copyright {
  display: flex;
  
  span {
    color: white;
    margin-right: 10px
  }
}

.footer-top {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-left: 4%;
  div {
    margin-left: 10px
  }
}

.telephones {
  a {
    display: block;
    text-decoration: none;
  }
}
.mail {
  a {
    display: block;
    text-decoration: none;
  }
}