.section-registration .bg-img {
    padding: 60px 0;
}
.section-registration .description-inverse {
    margin-left: 110px;
    margin-top: 0;
    margin-bottom: 9px;
}
.registration-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.registration-description {
    margin-right: 120px;
}
.section-registration .big-title_inverse {
    margin-top: 0;
    margin-bottom: 20px;
}
