.video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.video-flex {
    margin: 0 0 60px 0;
}
.section-video .btn-inverse {
    margin: auto;
}