.carousel_slick {
    display: flex;
    justify-content: space-between;
    .card {
        margin: 20px 15px;
    }
}

//STYLES FOR DOTS

.slick-dots li button {
    width: 13px;
    height: 13px;
    transition: .2s all;
    &::before {
        content: '';
        width: 13px;
        height: 13px;
        border: 1px solid #131313;
        opacity: .3;
        border-radius: 50%;
    }
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    background-color: #5a7fde;
    border: 1px solid #5a7fde;
}

.slick-dots li button:hover::before,
.slick-dots li button:focus::before {
    border: 1px solid #5a7fde;
    border-radius: 50%;
}

.slick-prev:before,
.slick-next:before {
    content: '';
}
.slick-prev{
    left: -46px;
    &::before {
        position: absolute;
        width: 13px;
        height: 13px;
        border-bottom: 1px solid rgba(0, 0, 0, .4);
        border-left: 1px solid rgba(0, 0, 0, .4);
        transform: rotate(45deg);
    }
}

.slick-next{
    right: -22px;
    &::before {
        position: absolute;
        width: 13px;
        height: 13px;
        border-bottom: 1px solid rgba(0, 0, 0, .4);
        border-right: 1px solid rgba(0, 0, 0, .4);
        transform: rotate(-45deg);
    }
}

.slick-news {
    .slick-track {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
    }
}

.sliders-numbers {
    display: flex;
    justify-content: flex-end;
    padding: 3px 0;
    span {
        font-size: 14px;
        padding-right: 110px;
        align-items: center;
    }
}

.slick-partners {
    .slick-track {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .slide-item {
        width: auto !important;
    }
    a{margin: 0 10px;}
    a.brand-ranok{
        display: block;
        width: 220px;
        height: 59px;
        background: url('../img/ranok.png') no-repeat;
    }
    a.brand-ranok:hover{
        background: url('../img/ranok_hover.png') no-repeat;
    }
    a.brand-click {
        display: block;
        width: 56px;
        height: 63px;
        background: url('../img/click.png') no-repeat;
    }
    a.brand-click:hover {
        background: url('../img/click_hover.png') no-repeat;
    }
    a.brand-sun {
        display: block;
        width: 105px;
        height: 73px;
        background: url('../img/sun.png') no-repeat;
    }
    a.brand-sun:hover {
        background: url('../img/sun_hover.png') no-repeat;
    }
}
.slide-item a,
.slick-initialized .slick-slide {
    outline: none;
}
